# dependencies
node_modules/

# next.js build artifacts
.next/
out/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# env files
.env*
!.env.example

# local editor/OS files
.DS_Store
.idea/
.vscode/

# test/coverage
coverage/

# deployment
.vercel/
